<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text = ${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet"href="https://getbootstrap.com/docs/5.0/scss/mixins/_utilities.scss"/>
<!--    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">-->
<!--    <link rel="stylesheet"href="/bootstrap.min.css"/>-->
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<!--<img th:src="@{../images/cat1.jpg}"/>
<p th:text="'Привет, ' + ${title} + '!'" />-->

        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 th:text="${inssertWord}" class="fw-light" />
                        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                        <p>
                            <a href="/blog" class="btn btn-primary my-2">Блог</a>
                            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                        </p>
                    </div>
                </div>
            </section>

            <div class="album py-3 bg-light">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                            <div class="card-group m-1" th:each="el:${posts}">
                                <!--карточка-->
                                    <div class="card shadow-sm">
                                        <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                             xmlns="http://www.w3.org/2000/svg"
                                             role="img" aria-label="Placeholder: Thumbnail"
                                             preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title>Placeholder</title>
                                            <rect width="100%" height="100%" fill="#55595c">

                                            </rect>
                                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail бля</text>
                                        </svg>-->
                                            <img  th:src="@{../images/cat1.jpg}" />

                                        <div class="card-body" >
                                            <h4 class="lead text-muted" th:text="${el.title}" />
                                            <p class="card-text" th:text="${el.anons}"/>
                                        </div><!--card body-->
                                            <div class="d-flex justify-content-between align-items-center">aa
                                            </div><!--d flex-->
                                                <div class="card-footer m-1">
                                                    <div class="btn-group ">
                                                        <a th:href="'/blog/' + ${el.id}" class="btn btn-sm btn-outline-primary">View</a>
                                                        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-sm btn-outline-secondary">Edit</a>
                                                    </div>
                                                </div>

                                    </div>
                            </div><!--card group-->

                    </div>
                </div>
            </div>

        </main>


<footer th:insert="blocks/footer :: footer"></footer>

</body>

</html>