<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet"href="https://getbootstrap.com/docs/5.0/scss/mixins/_utilities.scss"/>
<!--  Вставка значения титула из модели-->
  <title th:text = ${title} />
</head>

<body>

  <header th:insert="blocks/header :: header"></header>
  <h1>Product list</h1>


  <div class="container mt-5">11

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      <div th:each="element:${productes}" class="card-group bg-light mt-3 mb-2 mr-2">
        <div class="card mb-3">
          <div class="card-header">
            <p th:text="'Id  '+${element.id}"></p>
            <p th:text="'CategoryId  '+${element.getCategoryId()}"></p>
          </div>
          <a th:href="@{'/product/' + ${element.id}}">

          <img th:src="@{'../picsUp/'+${element.getImagePath()}}" alt="" width="100" height="200" class="card-img-top">
          </a>

          <div class="card-body">
            <h3 th:text="${element.getName()}"/>
            <h5 th:text="${element.description}"/>
            <p th:text="${element.price}"/>
          </div><!--card body-->
          <div class="card-footer">
            <a th:href="@{'/product/' + ${element.id}}" class="=btn btn-sm btn-danger">Детальнее!</a>
            <a th:href="'/productEdit/' + ${element.id}" class="=btn btn-sm btn-primary mb-2">Редактировать</a>
            <hr>
            <a th:href="'/productRemove/' + ${element.id}" class="=btn btn-sm btn-danger mb-2">Удалить</a>
          </div>


        </div>
        <!--    <a th:href="'/blog/' + ${el.id}" class="btn btn-sm btn-outline-secondary">Детальнее</a>-->

      </div>
    </div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        <div class="card-group m-4" th:each="el:${products}">
          <!--карточка-->
            <div class="card shadow-sm">
             <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <a th:href="@{'/product/' + ${el.id}}">

              <img th:src="@{'../picsUp/'+${el.getImagePath()}}" alt="" width="100%" height="225" class="card-img-top">
              </a>


              <div class="card-body">
                <h4 class="lead text-muted" th:text="${el.name}" />
                <p class="card-text" th:text="${el.description}"/>
                <p class="card-text" th:text="'Price '+${el.price}"/>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a th:href="'/product/' + ${el.id}" class="btn btn-sm btn-outline-primary">View</a>
                    <a th:href="'/productEdit/' + ${el.id}" class="btn btn-sm btn-outline-secondary">Edit-n</a>
<!--                    <a th:href="'/product/' + ${el.id} + '/edit'" class="btn btn-sm btn-outline-secondary">Edit</a>-->
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

</div><!--Wrap container-->
<footer th:insert="blocks/footer :: footer"></footer>




</body>
</html>