<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text = ${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<h1>Карточка Товара</h1>

<div class="container mt-5">

    <div th:each="el:${product}" class="card alert-info mt-3">
        <h3 th:text="${el.name}" />
        <p th:text="${el.description}" />
        <img th:src="@{'../picsUp/'+${el.getImagePath()}}" alt="" width="100px" >
    </div>
</div><!--Container-->
<div class="container">
    <div class="card">
        <img th:src="@{'../picsUp/'+${product.get(0).getImagePath()}}" alt="" width="200px" >

        <div class="card-body">
            <h4 th:text="${product.get(0).getName()}"></h4>
            <h5 th:text="'Price '+${product.get(0).getPrice()}"></h5>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-outline-danger">Заказать</a>
        </div>
    </div>

</div>





<footer th:insert="blocks/footer :: footer"></footer>

</body>

</html>