<div th:fragment="cardFrag(cardObj)" xmlns:th="http://www.thymeleaf.org">
    <div class="card shadow-sm m-2">
        <div class="card-header" th:text="'Card name '+${cardObj.name}">Header</div>
<!--            <div class="card-body" th:text="'Topic Contents: '+${cardObj.description}">Body</div>-->
            <div class="card-body">Table of Contents:
                <div th:insert="blocks/fragments :: subListForCard(${cardObj})"></div>

            </div>

<!--        <div    th:insert="blocks/fragments :: subList(listObj=${cardObj.getChildrenSet()})"></div>-->

        <div class="card-footer">
                    <button class="btn btn-outline-success">Submit</button>
                </div>
    </div>
</div>


<div th:fragment="subListForCard(listObj)" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="list-group" style="margin-left: 0.75em" th:each="entry:${listObj.getChildrenSet()}">
        <a th:href="'/topic/details/'+${entry.getId()}" class="list-group">
            <div th:text="${entry.name}"> </div>
        </a>

            <div  th:include="blocks/fragments :: subListForCard(${entry})"></div>
    </div>
</div>


<div th:fragment="commentThread" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div th:each="comment : ${thread}" style="margin-left: 1em">
        <span th:text="${comment.text}">Example comment</span>
        <div th:with="thread = ${comment.comments}" th:include="fragments/comment.html :: commentThread" th:remove="tag" ></div>
    </div>
</div>